<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>আমাদের সম্পর্কে</title>
    <link rel="stylesheet" href="aboutUS.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Hind+Siliguri"
    />

    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "
    />
    <link th:href="@{/styles/aboutDailyCollection.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
  </head>
  <body>
    
    <div class="container">

      <h1>সমিতির নিজস্ব তথ্য</h1>

      <div class="card">
      <div class="elements">

        <p>সমিতির নামঃ ইছামতি ভোগ্যপণ্য সমবায় সমিতি লিঃ</p>
        <p>গ্রামঃ বিল সলঙ্গি</p>
        <p>ডাকঘরঃ বিল সলঙ্গি</p>
        <p>উপজেলাঃ সাঁথিয়া</p>
        <p>জেলাঃ পাবনা</p>
        <p>রেজিস্ট্রেশন নম্বারঃ ০২২</p>
        <p>তারিখঃ ১২/১৩/২০১৫</p>
        <p>সভা নির্বাচনী এলাকাঃ বিল সলঙ্গি গ্রামের মধ্যে সীমাবদ্ধ</p>
        <p>কর্ম এলাকাঃ বিল সলঙ্গি গ্রামের মধ্যে সীমাবদ্ধ</p>


      </div>
      </div>


    </div>
  </body>
</html>
