<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>সদস্য প্রত্যাহার এন্ট্রি</title>
    <!-- <link rel="stylesheet" href="auditfeec.css" /> -->
    <link rel="stylesheet" href="cancelMemberShip.css">

    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "
    />
    <link th:href="@{/styles/aboutDailyCollection.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
  </head>
  <body>
    
    <div class="container">

      <h1>সদস্য প্রত্যাহার এন্ট্রি</h1>

        <form autocomplete="off">

          <div class="main">

            <div class="sub1">
              <p for="memberShip">সদস্য নম্বরঃ</p>
            </div>
            <div class="sub2">
              <input id="memberShip" type="text" name="" required/>
            </div>
          </div>
        
          <br>
          <br>
          <div class="main">

            <div class="sub1">
              <p for="cancelMemberShip">সদস্যপদ বাতিলের তারিখঃ</p>
            </div>
            <div class="sub2">
              <input id="cancelMemberShip" type="datel " name="" required/>
            </div>
          </div>

          <br>
          <br>

          <div class="cng">
          <div class="reasonForCancel1">
          <p for="reasonForCancel">সদস্যপদ বাতিলের কারনঃ</p>
          </div>
          <!-- <input id="reasonForCancel" type="" name="" /> -->
          <div class="reasonForCancel2">
          <textarea name="reasonForCancel" id="reasonForCancel" cols="30" rows="10"></textarea>
        </div>
      </div>

         <button type="Submit">Submit</button>

          </div>
      </form>
    </div>

  </body>
</html>
