<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <style type="text/css">
    body {
      text-align: center;
    }
  </style>
  <head>
    <title>সাধারণ খতিয়ান </title>
    <link rel="stylesheet" type="text/css" href="generalLedger.css" />

    <link
      <!-- th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "
    /> 
    <link th:href="@{/styles/aboutDailyCollection.css}" rel="stylesheet" />
    <!-- <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script> -->
  </head>
  
  <body>
    <div class="container">
      <h1>সাধারণ খতিয়ানঃ </h1>
      <form action="">

            <div class="main">
              <div class="sub1">
                <p for="unit">ইউনিট নম্বরঃ</p>
              </div>
              <div class="sub2">
                <input id="unit" type="text" value="" />
              </div>
            </div>
            
        <button type="submit">Submit</button>
        
      </form>
    </div>
  </body>
</html>
