*{
  margin : 0 ;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  
}
body{
 
  /* width: 80%; */
  /* margin:0 auto; */
 /* border: 0.4rem solid #000; */
 background: #04244e; 
  
}
html{
  font-size: 62.5%;
  /* width: 50%; */
  margin:0 auto;
}
.container{
  background: #04244e;  
  position: relative;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
}
h1{
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  background: #000;
  color: #fff;
  text-shadow: 0.5rem 0.5rem 0.5rem #333;
}
form{
  
  align-items: center;
  margin: 0 auto;
  /* padding-right: 5rem; */
  /* padding-left: 5rem; */
  padding-top: 3rem;
  padding-bottom: 10rem;
}
p{
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  float: right;
  font-weight: bold;
  letter-spacing: 0.1rem;

}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sub1{
  width: 60%;
  width: 20%;
  float: right;
  box-shadow: 0.5rem 0.5rem 0.5rem #000;
  
}
.sub2{
  width: 25%;
}

input{
  width: 25rem;
  height: 3rem;
  border: 1px solid #fff;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.1rem;
  align-items: center;
  /* padding-left: 0.7rem; */
  justify-content: center;
  box-shadow: 0.5rem 0.5rem 0.5rem #333;
  
}

hr{
    border: 2px solid white; 
}

button {
  width: 35rem;
  height: 3.2rem;
  margin: auto;
  display: block;
  border: 0.1rem solid white;
  background: rgb(16, 19, 16, 0.5);
  color: rgb(39, 235, 13);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-bottom: 8rem;
}
button:hover {
  background: blue;
  color: black;
  font-weight: 900;
  transition: 0.5s;
}
.sub-sub {
  cursor: pointer;
}

