<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <style type="text/css">
    body {
      text-align: center;
    }
  </style>
  <head>
    <title>হাওলাত গ্রহন</title>
    <link rel="stylesheet" type="text/css" href="LoanReceive.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/haolatgrohonc.css" /> -->

    <!-- <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "
    />
    <link th:href="@{/styles/aboutDailyCollection.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script> -->
  </head>
  <body>
    <div class="container">
      <h1>হাওলাত গ্রহন</h1>

    <form action="">

        <div class="main">
          <div class="sub1">
            <p for="date">তারিখঃ </p>
          </div>
          <div class="sub2">
            <input id="date" type="date" name="" />
          </div>
          </div>
          <br><br>

          <div class="main">
            <div class="sub1">
              <p for="voucher">রশিদ নম্বরঃ </p>
            </div>
            <div class="sub2">
            
            <input id="voucher" type="text" name="" />
          </div>
        </div>
       
        <br><br>

        <hr />

        <br><br>
        <div class="main">
          <div class="sub1">
            <p for="borrowDonnerName">হাওলাত দাতার নামঃ </p>
          </div>
          <div class="sub2">
            <input id="borrowDonnerName" type="" name="" />
          </div>
        </div>
        <br><br>

          <div class="main">
            <div class="sub1">
              <p for="amountOfMoney">টাকার পরিমানঃ </p>
            </div>
            <div class="sub2">
              <input id="amountOfMoney" type="" name="" />
            </div>

          </div>
   
        <br><br>
        
        <button type="button">Submit</button>
        সদস্য নম্বরঃ 
      
      
    </form>
  </div>
    
  </body>
</html>
