<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <style type="text/css">
    body {
      text-align: center;
    }
  </style>
  <head>
    <title>সদস্য পদ প্রত্যাহার</title>
    <link rel="stylesheet" type="text/css" href="membershipCancel.css" />

    <!-- <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "
    />
    <link th:href="@{/styles/aboutDailyCollection.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script> -->
  </head>
  <body>
    <form action="">
      <main>
        <h1>সদস্য পদ প্রত্যাহার</h1>
        <div class="date">
          <div class="datef">
            <input id="date1" type="date" />
            <!-- <label for="date1">হইতে</label> --> 
          </div>
          <label for="date1">হইতে</label>
          <div class="upto">
            <input id="date2" type="date" />
            <!-- <label for="date2">পর্যন্ত</label> -->
          </div>
          
        </div>
        <br />
       
        
          <button id="btn" type="submit">Submit</button>
        
        <br><br>
      </main>
    </form>

    
  </body>
</html>
