<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    body {
        text-align: center;
    }

</style>
<head>
    <title>সদস্যদের টাকা প্রদান সংক্রান্ত</title>
    <link rel="stylesheet" type="text/css" href="membermoneyprovidec.css">

    <!-- <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <link th:href="@{/styles/aboutDailyCollection.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script> -->
</head>
<body>
    <div class="main">
        <h1>সদস্যদের টাকা প্রদান সংক্রান্ত</h1>
        <form>
            <div class="first">
            
                <div class="box1">
        
                    <label for="date">তারিখ</label>
                    <input id="date" type="text" name="">
                    <br/>
                    <label for="memberNumber">সদস্য নাম্বার</label>
                    <input id="memberNumber" type="text" name="">
        
                </div>
                <div class="box3">
        
                    <label for="voucherNumber">রশিদ নম্বর</label>
                    <input id="voucherNumber" type="text" name="">
                </div>
            </div>

                <label for="memberName">সদস্যের নাম</label>
                <input id="memberName" type="text" name="" style="width: 350px;">
                <br><br>
                <hr color="black" style="width: 90%; margin: auto;">

            <div class="box4">
            
                <div class="box5">
        
                    <label for="shareTransfer">শেয়ার হস্তান্তর</label>
                    <input id="shareTransfer" type="" name="">
                    <br/>
        
                    <label for="savingsReturn">সঞ্চয় ফেরত</label>
                    <input id="savingsReturn" type="" name="">
                    <br/>
        
                    <label for="debtSettlement">ঋণ দাদন</label>
                    <input id="debtSettlement" type="" name="">
        
                </div>
        
                <div class="box6">
        
                    <label for="monthlySavingsReturn">মাসিক সঞ্চয় ফেরত</label>
                    <input id="monthlySavingsReturn" type="" name="">
                    <br/>
        
                    <label for="insuranceReturn">ঝুকি/বীমা ফেরত</label>
                    <input id="insuranceReturn" type="" name="">
                    <br/>
        
                    <label for="total">মোট</label>
                    <input id="total" type="" name="">

                </div>

            </div>
            <br><br>
            <div class="btnp">
                <input id='btn1' type="button" name="" value="preview">
                <input id='btn2' type="button" name="" value="add">
                <input id='btn3' type="button" name="" value="save">
                <input id='btn4' type="button" name="" value="close">
            </div>
            <br><br>
        </form>
    </div>



</body>
</html>