*{
    margin : 0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    
  }
  
  html{
    font-size: 62.5%;
    width: 50%;
    margin:0 auto;
  }
  .container{
    background: #09ed6d;  
    position: relative;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
  }
  h1{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    background: #000;
    color: #fff;
    text-shadow: 0.5rem 0.5rem 0.5rem #333;
  }
  table{
    margin-top : 3rem;
    padding: 1rem;
    
}

th{
    font-size: 1.5rem;
    border: 1px solid black;
}

td{
    font-size: 1.5rem;
    border: 1px solid black;
    text-align:center;
}
#removeborder{
    border: none;
}