<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <style type="text/css">
    body {
      text-align: center;
    }
  </style>
  <head>
    <title>user id & password</title>
    <link rel="stylesheet" type="text/css" href="userIdPassword.css" />

    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "
    />
    <link th:href="@{/styles/aboutDailyCollection.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div class="container">
      <h1>ইউজার আইডি ও পাসওয়ার্ড তৈরি করুন</h1>

      <form autocomplete="off">
        <div class="main">
          <div class="sub1">
            <p for="date">User name:</p>
          </div>

          <div class="sub2">
            <input id="uname" type="text" name="" placeholder="input user name"  />
          </div>
        </div>

        <br />
        <br />
        <div class="main">
          <div class="sub1">
            <p for="vaucher">Password:</p>
          </div>
          <div class="sub2">
            <input id="vaucher" type="password" name="" placeholder="input password" />
          </div>
        </div>
        <br /> 
        <button type="submit">Ok</button>
      </form>
    </div>
  </body>
</html>
