<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <style type="text/css">
    body {
      text-align: center;
    }
  </style>
  <head>
    <title>সাপ্তাহিক আদায় সংক্রান্ত</title>
    <link rel="stylesheet" type="text/css" href="dailycollection.css" />

    <!-- <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "
    />
    <link th:href="@{/styles/aboutDailyCollection.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script> -->
  </head>
  <body>
      <h1>সাপ্তাহিক আদায় সংক্রান্ত</h1>
      <form
            th:action="@{member/add}"
            th:object="${memberDTO}"
            method="post"
          >
        <div class="container">
          <div class="head"> 
            <label for="unitNumber" id="unitNumber">তারিখঃ</label>
            <input
              th:field="*{unitNumber}"
              type="date"
              name="date"
            />
            <br />
            <label for="memberNumber">রশিদ নম্বরঃ</label>
            <input th:field="*{memberNumber}" type="text" id="memberNumber" />
            <br>
          
          <br>
           <label for="memberNumber">সদস্য নম্বরঃ</label>
            <input th:field="*{memberNumber}" type="text" id="memberNumber" />
            <br>
          </div>
          <br>
          <hr>
            

      <div class="form">
            
              <div class="left">
                <label for="memberNumber">শেয়ার আদায়ঃ</label>
                <input th:field="*{memberNumber}" type="text" id="memberNumber" />
                <br />

                <label for="nid" id="nid">সঞ্চয় আদায়ঃ</label>
                <input
                  th:field="*{nid}"
                  type="text"
                  name="nid"
                  
                />
                <br />

                <label for="memberName">মাসিক সঞ্চয় আদায়ঃ</label>
                <input th:field="*{name}" type="text" name="" id="memberName" />
                <br />
                <label for="fathersName">ঝুঁকি/বীমা আদায়ঃ</label>
                <input
                  th:field="*{fathersName}"
                  type="text"
                  name=""
                  id="fathersName"
                />
                <br />
                <label for="mothersName">ঋণের কিস্তি আদায়ঃ</label>
                <input
                  th:field="*{mothersName}"
                  type="text"
                  name=""
                  id="mothersName"
                />
                <br />

                <label for="dateOfBirth">ঋণের সুদ আদায়ঃ</label>
                <input
                  th:field="*{dateOfBirth}"
                  type="text"
                  name="dateOfBirth"
                  id="dateOfBirth"
                />          
              </div>
              

              <div class="right">
                <div class="file-input">
                  <label for="dateOfAdmission">দণ্ড সুদ আদায়ঃ</label>
                <input
                  th:field="*{village}"
                  type="date"
                  name="dateOfAdmission"
                  id="dateOfAdmission"
                />
                </div>

                <br />
                <label for="photo" class="">ঋণের সাঃচাঃ আদায়ঃ</label>
                  <input th:field="*{photo}" type="text" id="photo" class="file" />

                <label for="currentAddress">ভর্তি ফি আদায়ঃ</label>
                <input
                  th:field="*{currentAddress}"
                  type="text"
                  name=""
                  id="currentAddress"
                />
                <br>
                <label for="nomineeName">বিবিধ আদায়ঃ</label>
                <input
                  th:field="*{nomineeName}"
                  type="text"
                  name=""
                  id="nomineeName"
                />
                <br />
                <label for="nomineeRelation">পাশবহি বিক্রিঃ</label>
                <input
                  th:field="*{nomineeRelation}"
                  type="text"
                  name=""
                  id="nomineeRelation"
                />
                <br />  
                <label class="sub-sub" for="total" style="color: #fff" onclick="button()">মোটঃ</label>
                <input th:field="*{nomineeAge}" type="text" id="nomineeAge" />
                <br />
              </div>
            </div>
            </form>
          <!-- </div> -->
        <br><br>
          <button id="btn">Submit</button>
        </div>
  </body>
</html>
